# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Mango\Desktop\Inżynier WSTI (AEH)\Informatyka sem VI\Projektowanie systemów informatycznych\Lab 4\Selenium\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
